* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #051124;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
}

h5{
    margin-top: 30px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 10px;
}

.links-list li {
    list-style: none;
    background: white;
    margin: 20px;
    padding: 5px;
    border-radius: 50px;
    
}

.links-list li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.links-list li a img {
    width: 20px;
    margin-left: 3px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    color: #ffffff;
    font-size: 30px;
    margin: 10px;
}


p img {
    width: 12px;
}